/* Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tutte le classi che contengono la sottostringa col- hanno un float-left*/
[class*="col-"] {
  float: left;
  min-height: 10px;
  height: 100%;
  /***** Debug ****/
  /* height: auto;
  border: 1px solid #000;
  background: pink; */
}

/* Contenitore riga sempre width 100% e clear both */
.container {
  margin: auto;
}
.row {
  width: 100%;
  min-width: 100px;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}

/********
Viewport utilizzati
lg = (min-width:1200px)
md = (min-width: 780px) and (max-width:1199px)
xs = (min-width: 420px) and (max-width:779px)
xxs = (max-width: 419px)
*******/
/* Colonne */
/****
La classe generica col-n è identica per tutti i viewport
va usata da sola se si vuole un unico layout
***/

/* classe visible-X da associare a clearfix dopo blocco per responsive column reset ad esempio <div class="clearfix visible-xs"></div>*/
@media screen and (min-width:1200px) {
  .visible-xs {
    display: none;
  }
  .visible-md {
    display: none;
  }
  .visible-xxs {
    display: none;
  }
  .visible-lg {
    display: block;
  }

  .col-lg-12,
  .col-12 {
    width: 100%;
  }

  .col-lg-11,
  .col-11 {
    width: calc((100%/12)*11);
  }

  .col-lg-10,
  .col-10 {
    width: calc((100%/12)*10);
  }

  .col-lg-9,
  .col-9 {
    width: calc((100%/12)*9);
  }

  .col-lg-8,
  .col-8 {
    width: calc((100%/12)*8);
  }

  .col-lg-7,
  .col-7 {
    width: calc((100%/12)*7);
  }

  .col-lg-6,
  .col-6 {
    width: calc((100%/12)*6);
  }

  .col-lg-5,
  .col-5 {
    width: calc((100%/12)*5);
  }

  .col-lg-4,
  .col-4 {
    width: calc((100%/12)*4);
  }

  .col-lg-3,
  .col-3 {
    width: calc((100%/12)*3);
  }

  .col-lg-2,
  .col-2 {
    width: calc((100%/12)*2);
  }

  .col-lg-1,
  .col-1 {
    width: calc((100%/12));
  }
}

@media screen and (min-width: 780px) and (max-width:1199px) {
  .visible-xs {
    display: none;
  }
  .visible-md {
    display: block;
  }
  .visible-xxs {
    display: none;
  }
  .visible-lg {
    display: none;
  }

  .col-md-12,
  .col-12 {
    width: 100%;
  }

  .col-md-11,
  .col-11 {
    width: calc((100%/12)*11);
  }

  .col-md-10,
  .col-10 {
    width: calc((100%/12)*10);
  }

  .col-md-9,
  .col-9 {
    width: calc((100%/12)*9);
  }

  .col-md-8,
  .col-8 {
    width: calc((100%/12)*8);
  }

  .col-md-7,
  .col-7 {
    width: calc((100%/12)*7);
  }

  .col-md-6,
  .col-6 {
    width: calc((100%/12)*6);
  }

  .col-md-5,
  .col-5 {
    width: calc((100%/12)*5);
  }

  .col-md-4,
  .col-4 {
    width: calc((100%/12)*4);
  }

  .col-md-3,
  .col-3 {
    width: calc((100%/12)*3);
  }

  .col-md-2,
  .col-2 {
    width: calc((100%/12)*2);
  }

  .col-md-1,
  .col-1 {
    width: calc((100%/12));
  }
}

@media screen and (min-width: 420px) and (max-width:779px) {
  .visible-xs {
    display: block;
  }
  .visible-md {
    display: none;
  }
  .visible-xxs {
    display: none;
  }
  .visible-lg {
    display: none;
  }
  .col-xs-12,
  .col-12 {
    width: 100%;
  }

  .col-xs-11,
  .col-11 {
    width: calc((100%/12)*11);
  }

  .col-xs-10,
  .col-10 {
    width: calc((100%/12)*10);
  }

  .col-xs-9,
  .col-9 {
    width: calc((100%/12)*9);
  }

  .col-xs-8,
  .col-8 {
    width: calc((100%/12)*8);
  }

  .col-xs-7,
  .col-7 {
    width: calc((100%/12)*7);
  }

  .col-xs-6,
  .col-6 {
    width: calc((100%/12)*6);
  }

  .col-xs-5,
  .col-5 {
    width: calc((100%/12)*5);
  }

  .col-xs-4,
  .col-4 {
    width: calc((100%/12)*4);
  }

  .col-xs-3,
  .col-3 {
    width: calc((100%/12)*3);
  }

  .col-xs-2,
  .col-2 {
    width: calc((100%/12)*2);
  }

  .col-xs-1,
  .col-1 {
    width: calc((100%/12));
  }
}

@media screen and (max-width: 419px) {
  .visible-xs {
    display: none;
  }
  .visible-md {
    display: none;
  }
  .visible-xxs {
    display: block;
  }
  .visible-lg {
    display: none;
  }

  .col-xxs-12,
  .col-12 {
    width: 100%;
  }

  .col-xxs-11,
  .col-11 {
    width: calc((100%/12)*11);
  }

  .col-xxs-10,
  .col-10 {
    width: calc((100%/12)*10);
  }

  .col-xxs-9,
  .col-9 {
    width: calc((100%/12)*9);
  }

  .col-xxs-8,
  .col-8 {
    width: calc((100%/12)*8);
  }

  .col-xxs-7,
  .col-7 {
    width: calc((100%/12)*7);
  }

  .col-xxs-6,
  .col-6 {
    width: calc((100%/12)*6);
  }

  .col-xxs-5,
  .col-5 {
    width: calc((100%/12)*5);
  }

  .col-xxs-4,
  .col-4 {
    width: calc((100%/12)*4);
  }

  .col-xxs-3,
  .col-3 {
    width: calc((100%/12)*3);
  }

  .col-xxs-2,
  .col-2 {
    width: calc((100%/12)*2);
  }

  .col-xxs-1,
  .col-1 {
    width: calc((100%/12));
  }
}

/* Offset */
/****
La classe generica offset-n è identica per tutti i viewport
va usata da sola se si vuole un unico layout
***/
@media screen and (min-width:1200px) {

  .lg-offset-11,
  .offset-11 {
    margin-left: calc((100%/12)*11);
  }

  .lg-offset-10,
  .offset-10 {
    margin-left: calc((100%/12)*10);
  }

  .lg-offset-9,
  .offset-9 {
    margin-left: calc((100%/12)*9);
  }

  .lg-offset-8,
  .offset-8 {
    margin-left: calc((100%/12)*8);
  }

  .lg-offset-7,
  .offset-7 {
    margin-left: calc((100%/12)*7);
  }

  .lg-offset-6,
  .offset-6 {
    margin-left: calc((100%/12)*6);
  }

  .lg-offset-5,
  .offset-5 {
    margin-left: calc((100%/12)*5);
  }

  .lg-offset-4,
  .offset-4 {
    margin-left: calc((100%/12)*4);
  }

  .lg-offset-3,
  .offset-3 {
    margin-left: calc((100%/12)*3);
  }

  .lg-offset-2,
  .offset-2 {
    margin-left: calc((100%/12)*2);
  }

  .lg-offset-1,
  .offset-1 {
    margin-left: calc((100%/12));
  }
}

@media screen and (min-width: 780px) and (max-width:1199px) {

  .md-offset-11,
  .offset-11 {
    margin-left: calc((100%/12)*11);
  }

  .md-offset-10,
  .offset-10 {
    margin-left: calc((100%/12)*10);
  }

  .md-offset-9,
  .offset-9 {
    margin-left: calc((100%/12)*9);
  }

  .md-offset-8,
  .offset-8 {
    margin-left: calc((100%/12)*8);
  }

  .md-offset-7,
  .offset-7 {
    margin-left: calc((100%/12)*7);
  }

  .md-offset-6,
  .offset-6 {
    margin-left: calc((100%/12)*6);
  }

  .md-offset-5,
  .offset-5 {
    margin-left: calc((100%/12)*5);
  }

  .md-offset-4,
  .offset-4 {
    margin-left: calc((100%/12)*4);
  }

  .md-offset-3,
  .offset-3 {
    margin-left: calc((100%/12)*3);
  }

  .md-offset-2,
  .offset-2 {
    margin-left: calc((100%/12)*2);
  }

  .md-offset-1,
  .offset-1 {
    margin-left: calc((100%/12));
  }
}

@media screen and (min-width: 420px) and (max-width:779px) {

  .xs-offset-11,
  .offset-11 {
    margin-left: calc((100%/12)*11);
  }

  .xs-offset-10,
  .offset-10 {
    margin-left: calc((100%/12)*10);
  }

  .xs-offset-9,
  .offset-9 {
    margin-left: calc((100%/12)*9);
  }

  .xs-offset-8,
  .offset-8 {
    margin-left: calc((100%/12)*8);
  }

  .xs-offset-7,
  .offset-7 {
    margin-left: calc((100%/12)*7);
  }

  .xs-offset-6,
  .offset-6 {
    margin-left: calc((100%/12)*6);
  }

  .xs-offset-5,
  .offset-5 {
    margin-left: calc((100%/12)*5);
  }

  .xs-offset-4,
  .offset-4 {
    margin-left: calc((100%/12)*4);
  }

  .xs-offset-3,
  .offset-3 {
    margin-left: calc((100%/12)*3);
  }

  .xs-offset-2,
  .offset-2 {
    margin-left: calc((100%/12)*2);
  }

  .xs-offset-1,
  .offset-1 {
    margin-left: calc((100%/12));
  }
}

@media screen and (max-width: 419px) {

  .xxs-offset-11,
  .offset-11 {
    margin-left: calc((100%/12)*11);
  }

  .xxs-offset-10,
  .offset-10 {
    margin-left: calc((100%/12)*10);
  }

  .xxs-offset-9,
  .offset-9 {
    margin-left: calc((100%/12)*9);
  }

  .xxs-offset-8,
  .offset-8 {
    margin-left: calc((100%/12)*8);
  }

  .xxs-offset-7,
  .offset-7 {
    margin-left: calc((100%/12)*7);
  }

  .xxs-offset-6,
  .offset-6 {
    margin-left: calc((100%/12)*6);
  }

  .xxs-offset-5,
  .offset-5 {
    margin-left: calc((100%/12)*5);
  }

  .xxs-offset-4,
  .offset-4 {
    margin-left: calc((100%/12)*4);
  }

  .xxs-offset-3,
  .offset-3 {
    margin-left: calc((100%/12)*3);
  }

  .xxs-offset-2,
  .offset-2 {
    margin-left: calc((100%/12)*2);
  }

  .xxs-offset-1,
  .offset-1 {
    margin-left: calc((100%/12));
  }
}
