* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
}
h1 {
  padding: 20px 0;
}
h2 {
  text-align: center;
  padding: 15px 0;
  font-size: 200%;
}
h2, h3, h4, h5 {
  color: #031B4E;
}
h4 {
  padding: 10px 0;
}
h5 {
  font-size: 100%;
  line-height: 139%;
  font-weight: 400;
}
[background="grey"] {
  background-color: #F3F5F9;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.mw-970 {
  max-width: 970px;
}
.mw-1200 {
  max-width: 1200px;
}
.btn-link:link,
.btn-link:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 30px;
  font-weight: bold;
  text-align: center;
  color: #551A8B;
}
.btn-link:hover,
.btn-link:active {
  background-color: #CCDBFF;
}
section {
  padding: 40px 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
/* ------------------------------- */
/*         HEADER         */
/* ------------------------------- */
header {

  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.top-menu-wrapper {
  background-color: #fff;
}
.top-menu-cont {
  margin: 0 auto;
  width: 95%;
}
/* header Floats */
.new-btn,
.now-available,
#new-oc-menu nav li,
.digital-logo,
#digital-oc-menu nav,
#digital-oc-menu nav li {
  float: left;
}
#new-oc-menu nav,
.signup-btn {
  float: right;
}
/*-> fine header floats */
/* header spacing */

#digital-oc-menu nav li{
  height: 35px;
  line-height: 35px;
}

/* debug */
#new-oc-menu {
  border: 1px solid black;
}

/*  WELCOME DEV Bottom Header  */
#welcome-dev.container {
  margin-top: 40px;
  padding-bottom: 40px;
}
#welcome-dev .row .left {
  color: #fff;
}

/* ------------------------------- */
/*      INNOVATIVE BUSINESS        */
/* ------------------------------- */
/* #innovative-business .container {
  width: 80%;
} */
#innovative-business {
  text-align: center;

}
/* Immagini dim variabili responsive, Vedi mq 779px regole aggiuntive */
.innovative-img-container img {
  width: 90%;
  vertical-align: middle;
}

.innovative-img-container li {
  display: inline-block;
  width: calc((100%/6) - 4px);
}

.innovative-img-container {
  max-width: 1130px;
  margin: auto;
}

/* ------------------------------- */
/*      DEPLOY AND SCALE        */
/* ------------------------------- */
#deploy-scale .title {
  width: 85%;
  margin: auto;
}
#deploy-scale > .container {
  /* padding */
}

/* ------------------------------- */
/*     DESIGNED FOR DEVELOPERS     */
/* ------------------------------- */
#design-for-devs > .container {
  text-align: center;
}
#design-for-devs > .container > img,
#dev-teams-do > .container > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* ------------------------------- */
/*     BUILT FOR BUSINESS     */
/* ------------------------------- */
#built-for-bus > .container > .row [class*="col-"] {
  padding: 10px 25px;
}
#built-for-bus h2 {
  text-align: center;
}

/* ------------------------------- */
/*     SERVICE YOUR CUSTOMERS     */
/* ------------------------------- */
#serv-your-cust {
  background-color: #0F2656;
  color: white;
  padding: 80px 0;
}
#serv-your-cust table {
  width: 100%;
  border-collapse: collapse;
}
#serv-your-cust th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
#serv-your-cust h2 {
  color: #fff;
}
#serv-your-cust table a {
  color: #005FE6;
}
#serv-your-cust table td:nth-of-type(2) {
  color: #9FA8BB;
}
/* ------------------------------- */
/*   DEVELOPMENT TEAMS DO */
/* ------------------------------- */
#dev-teams-do > .container {
  text-align: center;
}
/* img see rule design for dev sec*/


/* ------------------------------- */
/*   GET STARTED NOW */
/* ------------------------------- */
#get-start-now {
  background-color: #0049FF;
  color: #fff;
}
#get-start-now h2 {
  color: #fff;
}
/* ------------------------------- */
/*   FOOTER */
/* ------------------------------- */
footer {
  background-color: #010E28;
  color: #fff;
}
footer > .container:first-child {
  padding: 40px 0;
}

footer > .container:first-child li a {
  color: #808794;
  line-height: 150%;
}
footer > .container:first-child li a:hover {
  color: #fff;
}

/* bottom footer */
footer > .container:last-of-type {
  border-top: 1px solid #343E53;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer #btm-logo li {
  display: inline-block;
  vertical-align: middle;
}
/* test footer */
footer > .container:last-of-type img {
  /* max-height: 65px; */
}
footer  #do-llc {
  /* position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%); */
}

/* bottom footer right */
footer .social-links {
  float: right;
}
footer .social-links li {
  display: inline-block;
  color: #808794;
  line-height: 66px;
  height: 66px;
  padding-left: 15px;
}
footer .social-links a {
  color: #808794;
  font-size: 150%;
}
footer .social-links a:hover {
  color: #fff;
}
footer h5 {
  color: white;
  font-weight: 600;
}
/* ------------------------------- */
/*      MEDIA QUERY       */
/* ------------------------------- */
@media screen and (max-width:779px) {
  /* Innovative section */
  .innovative-img-container {
    width: 90%;
  }
  .innovative-img-container li {
    width: calc((100%/12)*6 - 4px);
  }
  .innovative-img-container img {
    width: 80%;
  }
}
