* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;

  background-color: #fff;
}
h2 {
  text-align: center;
  padding: 15px 0;
}
[background="grey"] {
  background-color: #F3F5F9;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.mw-970 {
  max-width: 970px;
}
.btn-link:link,
.btn-link:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 30px;
  font-weight: bold;
  text-align: center;
  color: #551A8B;
}
.btn-link:hover,
.btn-link:active {
  background-color: #CCDBFF;
}
section {
  padding: 40px 0;
}
/* ------------------------------- */
/*         HEADER         */
/* ------------------------------- */
header {

  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.top-menu-wrapper {
  background-color: #fff;
}
.top-menu-cont {
  margin: 0 auto;
  width: 95%;
}
/* header Floats */
.new-btn,
.now-available,
#new-oc-menu nav li,
.digital-logo,
#digital-oc-menu nav,
#digital-oc-menu nav li {
  float: left;
}
#new-oc-menu nav,
.signup-btn {
  float: right;
}
/*-> fine header floats */
/* header spacing */

#digital-oc-menu nav li{
  height: 35px;
  line-height: 35px;
}

/* debug */
#new-oc-menu {
  border: 1px solid black;
}

/*  WELCOME DEV Bottom Header  */
#welcome-dev.container {
  width: 85%;
  margin-top: 40px;
  padding-bottom: 40px;
}
#welcome-dev .row .left {
  color: #fff;
}

/* ------------------------------- */
/*      INNOVATIVE BUSINESS        */
/* ------------------------------- */
/* #innovative-business .container {
  width: 80%;
} */
#innovative-business {
  text-align: center;

}
/* Immagini dim variabili responsive, Vedi mq 779px regole aggiuntive */
.innovative-img-container img {
  width: 90%;
  vertical-align: middle;
}

.innovative-img-container li {
  display: inline-block;
  width: calc((100%/6) - 4px);
}

.innovative-img-container {
  width: 75%;
  margin: auto;
}

/* ------------------------------- */
/*      DEPLOY AND SCALE        */
/* ------------------------------- */
#deploy-scale > .title {
  max-width: 1100px;
  width: 95%;
  margin: auto;
  text-align: center;
}
#deploy-scale > .container {
  /* padding */
}

/* ------------------------------- */
/*     DESIGNED FOR DEVELOPERS     */
/* ------------------------------- */
#design-for-devs > .container {
  text-align: center;
}
#design-for-devs > .container > img,
#dev-teams-do > .container > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* ------------------------------- */
/*     BUILT FOR BUSINESS     */
/* ------------------------------- */
#built-for-bus > .container {
  max-width: 1170px;
  width: 95%;
}
#built-for-bus h2 {
  text-align: center;
}

/* ------------------------------- */
/*     SERVICE YOUR CUSTOMERS     */
/* ------------------------------- */
#serv-your-cust {
  background-color: #0F2656;
  color: white;
}
#serv-your-cust table {
  width: 100%;
  border-collapse: collapse;
}
#serv-your-cust th, td {
  border-bottom: 1px solid #ddd;
}

/* ------------------------------- */
/*   DEVELOPMENT TEAMS DO */
/* ------------------------------- */
#dev-teams-do > .container {
  text-align: center;
}
/* img see rule design for dev sec*/


/* ------------------------------- */
/*   GET STARTED NOW */
/* ------------------------------- */
#get-start-now {
  background-color: #0049FF;
  color: #fff;
}




/* ------------------------------- */
/*      MEDIA QUERY       */
/* ------------------------------- */
@media screen and (max-width:779px) {
  /* Innovative section */
  .innovative-img-container {
    width: 90%;
  }
  .innovative-img-container li {
    width: calc((100%/12)*6 - 4px);
  }
  .innovative-img-container img {
    width: 80%;
  }
}
